

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;   


}



.portfolios{


   background-color:white;

    text-align: center;      
    
    margin-top: 300px;
} 

.portfolio {

 background-color: white; 
   display: inline-block; 
    margin: 10px 10px 10px 10px;    
   padding: 20px 0px;  

     width: calc ((100%-10px) /3 );     
  

  
   
}


.img{
 width: 100%; 
}

